/* Тело фрейма с деревом */
body { font-size:12pt; font-family: Tahoma; padding:0; margin:0; border: none;}
/* Текстовая часть элемента дерева */
div.item { line-height:normal; font-family: "tahoma"; font-size: 13px; border: none; border-color: #dddddd; margin:1px; padding-top:1px; padding-bottom:1px; text-indent:5px; padding-right:3px;}
/* Текстовая часть выделенного элемента дерева */
div.item_highlighted { text-indent:5px; font-size: 13px; border: none; border-color: #dddddd; background: yellow; margin:1px; padding-top:1px; padding-bottom:1px; padding-right:3px;}
/* Текстовая часть выделенного и активного элемента дерева */
div.item_highlighted_and_active { text-indent:5px; font-size: 13px; border: 1px; border-color: black; background: yellow; margin:0px; border-style:dashed; padding-top:1px; padding-bottom:1px; padding-right:3px;}
/* Абзац заголовка (выводится для элементов, соответствующих секции или боди */
div.title p { line-height:normal;}
div.drag {position:absolute;}
p {margin-bottom:0; margin-top:0; padding-bottom:0; padding-top:0;}
/* Элемент списка */
li {list-style-type:none;}
/* Тэг, описывающий дополнительный уровень вложенния дерева */
UL { padding-right:0; margin-right:0; margin-left:20;}
p.outside_loading {text-align:right;}
/* DIV для сообщений о загрузке/сохранении структуры документа */
message {padding:0; margin:0; text-align:right;}
/* слой для сообщений о загрузке/сохранении структуры документа */
#for_messages {position:absolute; top:0; z-index:1; text-align:right;}
/* Надпись, что загружается оглавление */
span.loading { background-color:red; color:white; }
/* слой дерева */
#empty_div {position:absolute; top:0; z-index:0; padding:0; margin: 0;}
/* Абзац заголовка */
div.title p { line-height:normal; font-family: "tahoma";}
/*ссылка*/
a {color:blue; border:0; font-size:13px}
a:hover {color:blue; border:0}
a:active {color:blue; border:0}
a.note {vertical-align:super}

/* Форматирование для любого элемента дерева */
        p{
                font-family:arial;

        }

        .dhtmlgoodies_tree,#floatingContainer{
                margin:0px;
                padding:0px;
        }
        .dhtmlgoodies_tree ul{  /* Sub menu groups */
                margin-left:20px;       /* Left spacing */
                padding-left:0px;
                display:none;   /* Initially hide sub nodes */
        }

        #floatingContainer ul{
                margin-left:20px;       /* Left spacing */
                padding-left:0px;
        }
        .dhtmlgoodies_tree li,#floatingContainer li{    /* Nodes */
                list-style-type:none;
                vertical-align:middle;

        }
        /*.dhtmlgoodies_tree li a,#floatingContainer li a{         Node links 
                color:#000;
                text-decoration:none;
                font-family:arial;
                font-size:0.8em;
                padding-left:1px;
                line-height:13px;
                margin-left:2px;

        }
        .dhtmlgoodies_tree li a.highlightedNodeItem{
                color:#FFF;
                background-color:#009;
        }*/

        .dhtmlgoodies_tree input.folderTreeTextBox{     /* Css for the text input - rename item */
                font-size:10px;
                margin:0px;
                padding:0px;
                height:12px;
        }