I, EM {/*color:red;*/}
B, STRONG {}
SUP {}
SUB {}
STRIKE {}
SPAN.code {
 font-family: "Arial", monospace;
 font-style: normal;
 background: rgb(238,238,238);
}
A.note {
 vertical-align: super;
 color: blue;          
 font-size: 75%;
}  