body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

div#fbw_desc{
	font-size: 8pt;
	font-family: "Tahoma",sans-serif;
	background-color: #DCDCDC;
	padding-left: 0.8em;
	height: 100%;
}

div#fbw_desc br{
	height: 10px;
}

div#fbw_desc div{
	border: none;
	white-space: nowrap;
	clear: both;
}

div#fbw_desc div.float
{
   visibility: hidden;
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   background: white;
   border: 2px solid black;
   margin: 2px 2px 2px 2px;
   padding: 2px 2px 2px 2px;
}

div#fbw_desc button{
	font-family: "Webdings";
	font-size: 8pt;
	color: Black;
	float: right;
	cursor: pointer;
}
div#fbw_desc button.popup_btn{
	float: none;
}

div#fbw_desc input{
	font-family: "Tahoma",sans-serif;
	font-size: 8pt;
	border: 1px solid #7F9DB8;
}
div#fbw_desc input.short{
	width: 2em;
}
div#fbw_desc input.wide {
	width: 48em;
}
div#fbw_desc input.url{
	width: 53.4em;
	margin-left: 0.3em;
	margin-top: 0.3em;
	margin-bottom: 0.1em;
}

div#fbw_desc textarea{
	width: 48em;
	font-family: "Tahoma",sans-serif;
	font-size: 8pt;
	border: 1px solid Black;
}

div#fbw_desc label{
	width: 6.5em;
	text-align: right;
	margin-top: 0.3em;
	padding-left: 0.4em;
	padding-right: 0.3em;
	vertical-align: 20%;
	color: black;
}
div#fbw_desc label.hl{
	color: #EE0000;
	font-weight: bold;
}
div#fbw_desc label.short{
	width: 4em;
}

div#fbw_desc fieldset{
	width: 60em;
	margin: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
}
div#fbw_desc fieldset label{
	width: 6.9em;
}
div#fbw_desc fieldset.kid{
	width: 100%;
}
div#fbw_desc fieldset.kid label{
	width: 6.5em;
}

div#fbw_desc legend{
	padding-right: 0.5em;
}
div#fbw_desc legend.top{
	font-size: 10pt;
	color: #0000AA;
	font-weight: bold;
	margin-top: 1.7em;
	margin-bottom: 0.4em;
}

span.top{
	vertical-align: top;
}

div#fbw_body{
	padding: 0;
	margin: 0.2em 0.2em 0 0.5em;
	border: none;
	clear: both;
	width: 99%;
}

div#fbw_body div{	
	margin: 0.5em 0em 0.5em 0em;
	clear: both;
}

div#fbw_body div.body {
	margin: 0px;
}

div.section{
}
div.cite{
	padding-left: 2em;
	padding-right: 2em;
	color: #B46400;
	border-left: solid 1px;
	border-color: #B46400;
}

em{
	font-style: italic;
}
div.epigraph{
	padding-left:0.4em;
	border-left: solid 1px;
	border-color: #0000F0;
	color: #0000F0;
}

div.epigraph p{
	text-indent: 3em;
	margin: 0 1em 0.5em 25%;
}
div.annotation{
	padding-left:0.4em;
	border-left: solid 1px;
	border-color: #2C6B7B;
	color: #2C6B7B;
}
div.history{
	padding-left:0.4em;
	border-left: solid 1px;
	border-color: #FF1515;
	color: #FF1515;
}
div.poem{
	padding-left:0.4em;
	border-left: solid 1px;
	border-color: black;
}
div.stanza{
	padding-left:0.4em;
	border-left: solid 1px;
	border-color: #FF1493;
}
div.stanza p{
	text-align: left;
	text-indent: 3em;
	margin-bottom: 0em;
}
div.title{
	border-left: solid 1px;	
	border-color: rgb(0,150,0);
	background: rgb(0,150,0);
	color: white;
	padding: 0em 0em 0em 0.3em;
}
div.title p{
	text-align: center;
	text-indent: 0em;
}  
p{
	text-indent: 3em;
	margin-top: 0em;
	margin-bottom: 0.2em;
	text-align: justify;
}
p.subtitle{
	text-align: center;
	font-weight: bold;
	text-indent: 0em;
}
p.text-author{
	margin-left: 3em;
	margin-bottom: 1em;
	color: rgb(192,64,64);
}
span.code{
	font-family: "Arial", monospce;
	font-style: normal;
	background: rgb(238,238,238);
}
a.note{
	vertical-align: super;
	color: blue;	
}
div.table {
	padding-left:0.4em;
	border-left: solid 1px;
	border-color: teal;
}
div.tr {
	padding-left:0.4em;
	border-left: solid 1px;
	border-color: rgb(150,120,20);
}
p.th {
	text-align: center;
	background: rgb(117,255,255);
	text-indent: 0em;
	margin-bottom: 0em;
	color: purple;
}
p.td {
	text-indent: 0em;
	margin-bottom: 0em;
	background: rgb(186,213,237);
	color: navy;
}

div#fbw_body div.image{
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
	clear: both;
	text-align: center;
}
img{
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
	z-index: -1;
	cursor: move;
}

div#fbw_body div.hider{
	border: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

